@import "variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.tweet {
  transition: box-shadow 0.3s;
  border: solid black;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;

  &:hover {
    box-shadow: 0 11px 11px grey;
  }

  header {
    @include flex-center; 
    justify-content: space-between;

    span {
      @include flex-center;
      gap: 20px;
    }
  }

  .tweet-text {
    padding-top: 10px;
    padding-bottom: 30px;
    word-wrap: break-word;
  }

  footer {
    @include flex-center; 
    justify-content: space-between;
    border-top: solid black;
    padding-top: 10px;
    padding-bottom: 20px;

    div { 
      @include flex-center; 
      gap: 10px;
    }
  }
}

// Hover styles for icons
.fa-flag:hover { 
  color: orange;
}
.fa-retweet:hover { 
  color: green;
}
.fa-heart:hover {
  color: red;
}

#user-avatar {
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 1024px) {
  .tweet-section {
    display: flex;
    flex-direction: column;
    width: 64%;
    float: right;
    padding-left: 30px;
  }

  .tweet-text {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 100%; 
  }
}
