.current-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;

  height: 520px;
  width: 100%;
  color: #ffffff;
  background-color: #002fa6;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-repeat: repeat;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .current-user {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 600px;
    float: left;
    margin-top: 250px;
    margin-left: 30px;
  }

  .username {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
