nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #4056a1;
  color: #ffffff;
}
nav:first-of-type {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: "Bungee", sans-serif;
  font-style: normal;
}
nav div {
  display: flex;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}
nav .fa-angle-double-down {
  color: orange;
}
