nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  width: 100%;
}

nav:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: "Bungee", sans-serif;
  font-style: normal;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}

.fa-angle-double-down {
  color: orange;
}

